.calculator {
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    width: 400px;
    border: 2px solid #b9b108;
    border-radius: 20px;    
}

.calculator-screen{
    width: 95%;
    height: 150px;
    text-align: right;
    color: white;
    background-color: #9EB23B;
    opacity: 0.8;
    margin-top: 20px;
    padding: 0 20px;
    font-size: 50px;
    border: none;
    box-sizing: border-box;
    border-radius: 20px;
}

.calculator-keys{
    width: 100%;
}

.row{
    display: flex;
}

button{
    height: 80px;
    background-color: #C7D36F;
    font-size: 32px;
    color: white;
    width: 25%;
    cursor: pointer;
    border-radius: 80px;
    margin: 10px;
    border: none;
    opacity: 0.7;
}

.all-clear, .zero-btn {
    width: 50%;
}

.operator, .equal-sign {
    background-color: orange;
}

button:hover{
    background-color: #C7D36F;
    opacity: 1;
}

.operator:hover, .equal-sign:hover{
    background-color: darkorange;
}